# hidden directories
.github/
.idea/
.vscode/
.pytest_cache/
# .git/
.eggs/

__pycache__/
**/__pycache__/
# pip installs
build/**/*
build/

# normal directories
cwl/
test/

# normal and hidden files
.gitlab-ci.yml
.gitignore
.gitmodules
Makefile
