# Setuptools
dist
build
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__
**/__pycache__
.pytest_cache
*.py[cod]

# Built documentation
docs/_build
docs/api

# Mac DS_Store files
**.DS_Store
data/*

# Ignore all PyCharm config files
**/.idea
tmp/**
.idea

# Ignore all coverage files and datasets created by the pytest suite
test/report
*/tmp
