name: Docs
on: [push, pull_request, workflow_dispatch]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install datahipy and dependencies
        run: |
          pip install -r docs/requirements.txt
          pip install -e .[all]
      - name: Sphinx build
        run: |
          cd docs
          make html
          cd ..
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: |
          github.event_name == 'push' &&
          (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev')
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          force_orphan: true
